html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
p, h1, h2, h3 {
    margin: 0;
}

body {
    font-family: Roboto,sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    color: #F9FAF8;
    .header-links {
        display: flex;
        align-self: center;
        gap: 20px;
    }
    .logo {
        font-weight: 900;
    }
}
.header-links a {
    color: #F9FAF8;
    text-decoration: none;
}

.hero {
    display:flex;
    padding: 60px 200px;
    justify-content: space-between;
    img {
        object-fit: cover;
    }
    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 530px;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        h1 {
            font-size: 48px;
            color: #F9FAF8;
            font-weight: 900;
        }
        p {
            font-size: 18px;
            color: #E5E7EB;
        }
    }
    button {
        align-self: flex-start;
        padding: 8px 16px;
        color: #F9FAF8;
        background-color: #3882F6;
        border-radius: 8px;
        border: none;
        font-weight: 700;
    }
}

.hero, header {
    background-color: #1F2937;
 }

.main_info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 130px;
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        width: 1100px;
        align-self: center;
        li {
            font-size: 14px;
            width: 250px;
            h3 {
                margin-top: 10px;
                font-weight: 700;
            }
            p {
                margin: 5px 0;
                color: #1F2937;
            }
            img {
                object-fit: cover;
                border: 3px solid #3882F6;
                border-radius: 20px;
            }

        }
    }
}
.main_info h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
}

.quote {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 36px;
    background-color: #E5E7EB;
    color: #1F2937;
    div {
        width: 620px;
    }
    .quote-text {
        font-style: italic;
        font-weight: lighter;
    }
    .quote-author {
        font-size: 24px;
        font-weight: 300;
        text-align: end;
    }
}

.call_to_action {
    display:flex;
    padding: 100px;
    justify-content: center;
    .cta-content {
        padding: 40px 80px;
        width: 700px;
        display: flex;
        justify-content: space-between;
        background-color: #3882F6;
        border-radius: 8px;
        align-items: center;
        button {
            color: #F9FAF8;
            background-color: #3882F6;
            border-radius: 8px;
            border: 1px solid #F9FAF8;
            padding: 8px 16px;
            font-weight: 700;
        }
        .cta-text {
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 300px;
            h3,p {
                font-size: 14px;
            }
            h3 {
                color: #F9FAF8;
                font-size: 18px;
                font-weight: 900;
            }
            p {
                color: #E5E7EB;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
}
