html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto,sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    .header-links {
        display: flex;
        align-self: center;
        gap: 20px;
    }
}

.hero {
    display:flex;
    margin: 100px 200px;
    justify-content: space-between;
    img {
        object-fit: cover;
    }
    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 530px;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        h1 {
            margin: 0;
            font-size: 44px;
        }
        p {
            margin: 0;
            font-size: 20px;
        }
    }
    button {
        width: 100px;
        height: 25px;
    }
}

.main_info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 130px ;
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        li {
            font-size: 14px;
            width: 250px;
            h3 {
                margin: 0;
            }
            p {
                margin: 5px 0;
            }
            img {
                object-fit: cover;
                border: 3px solid #3882F6;
                border-radius: 20px;
            }

        }
    }
}

.quote {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 36px;
    div {
        width: 620px;
    }
    .quote-text {
        font-style: italic;
        font-weight: lighter;
        margin: 0;
    }
    .quote-author {
        font-weight: bold;
        margin: 0;
        text-align: end;
    }
}

.call_to_action {
    display:flex;
    padding: 100px;
    justify-content: center;
    .cta-content {
        padding: 20px 80px;
        width: 700px;
        display: flex;
        justify-content: space-between;
        .cta-text {
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 300px;
            h3,p {
                margin: 0;
                font-size: 14px;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
}
